<%= render 'shared/navbar' %>
<div class="container-fluid">
  <div class="row-fluid">

    <div class="offset1 span11">
      <!--Body content-->
      <div class="hr">
        <img src="/assets/korganizer-icon.png" alt="image" />
        <h2>Admission</h2>
      </div>
      <div id="app-back-button" class="span10">
        <a onclick="history.back(); return false;" href="#" id= "bk">
          <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
        </a>
      </div>
      <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 1100px; "></hr>
      <h4>Step 2 - Parent details</h4>
      <hr style="color: #049cdb; background-color: #049cdb; height: 3px; width: 1100px; "></hr>
      <%= simple_form_for(@guardian, :url => student_guardians_path(@student),
      method: :post) do |f| %>
      <%= f.error_messages %>
      <%= f.input :admission_no, as: :hidden , value: @student.admission_no, disabled: true, label: 'Student Admission Number' %>
      <%= f.input :student_id, as: :hidden, value: @student.id %>
      <h4>Parent - Personal Details</h4>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :relation %>
      <%= f.input :dob, :as => :string, :input_html => { class: 'birth'}, label: 'Date of Birth' %>
      <%= f.input :education %>
      <%= f.input :occupation %>
      <%= f.input :income %>
      <h4>Parent - Contact Details</h4>
      <%= f.input :email %>
      <%= f.input :office_address_line1 %>
      <%= f.input :office_address_line2 %>
      <%= f.input :city %>
      <%= f.association :country , as: :select %>
      <%= f.input :office_phone1 %>
      <%= f.input :office_phone2 %>
      <%= f.input :mobile_phone %>
      <%= f.submit 'Save & Proceed', class: 'btn btn-mini btn-primary' %>
      <% end %>
    </div>
  </div>
</div>