<%= render 'shared/navbar' %>

<h1>Admission</h1>
<h4>Step 2 - Parent details</h4>

<div class="row-fluid">
  <div class="span5 offset1 hero-unit">
    <%= bootstrap_form_for(@guardian, :url => student_guardians_path(@student), html: { class: 'form-horizontal' },
                           method: :post) do |f| %>
        <% if @guardian.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(@guardian.errors.count, 'error') %>
              </div>
              <ul>
                <% @guardian.errors.full_messages.each do |msg| %>
                    <li>* <%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <fieldset>
        <div class="field">
          <%= f.text_field :admission_no, value: @student.admission_no, disabled: true, label: 'Student Admission number' %>
          <%= f.hidden_field :student_id, value: @student.id %>

        </div>

        <h4>Parent - Personal Details</h4>
        <div class="field">
          <%= f.text_field :first_name, label: 'First name'%>
        </div>

        <div class="field">
          <%= f.text_field :last_name, label: 'Last name' %>
        </div>

        <div class="field">
          <%= f.text_field :relation, label: 'Relation' %>
        </div>

        <div class="field">
          <%= f.text_field :dob , class: 'birth', label: 'Date of Birth' %>
        </div>

        <div class="field">
          <%= f.text_field :education, label: 'Education' %>
        </div>

        <div class="field">
          <%= f.text_field :occupation, label: 'Occupation' %>
        </div>

        <div class="field">
          <%= f.text_field :income, label: 'Income' %>
        </div>

        <h4>Parent - Contact Details</h4>

        <div class="field">
          <%= f.text_field :email %>
        </div>

        <div class="field">
          <%= f.text_field :office_address_line1 %>
        </div>

          <div class="field">
            <%= f.text_field :office_address_line2 %>
          </div>

          <div class="field">
            <%= f.text_field :city %>
          </div>

          <div class="field">
            <%= f.collection_select :country_id, Country.all ,:id , :name  %>
          </div>

          <div class="field">
            <%= f.text_field :office_phone1 %>
          </div>

          <div class="field">
            <%= f.text_field :office_phone2 %>
          </div>

          <div class="field">
            <%= f.text_field :mobile_phone %>
          </div>

        <div class="actions"><%= f.submit 'Save & Proceed', class: 'btn btn-mini btn-primary' %></div>
        </fieldset>
    <% end %>
  </div>
</div>