<%= render 'shared/navbar' %>
<div class="container-fluid">
  <div class="row-fluid">

    <div class="offset1 span11">
      <!--Body content-->
      <div class="hr">
        <img src="/assets/Preppy-icon.png" alt="image" />
        <h2>Employee Admission</h2>
      </div>
      <div id="app-back-button" class="span10">
        <a onclick="history.back(); return false;" href="#" id= "bk">
          <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
        </a>
      </div>
      <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 1100px; "></hr>
      <!-- page content goes here -->
<%= simple_form_for @employee, url: wizard_path, method: :put do |f| %>
<h4>Office Address</h4>
      <hr style="color: #049cdb; background-color: #049cdb; height: 3px; width: 1100px; "></hr>
      <%= f.input :office_address_line1 %>
      <hr style="width: 1100px; ">
      <%= f.input :office_address_line2 %>
      <hr style="width: 1100px; ">
      <%= f.input :office_city %>
      <hr style="width: 1100px; ">
      <%= f.input :office_country_id, as: :select do %>
      <%= f.select :office_country_id, Country.all.map{ |c| [c.name , c.id] } %>
      <% end %>
      <hr style="width: 1100px; ">
      <%= f.input :office_pin_code %>
      <hr style="width: 1100px; ">
      <h4>Contact Details</h4>
      <hr style="color: #049cdb; background-color: #049cdb; height: 3px; width: 1100px; "></hr>
      <%= f.input :office_phone1 %>
      <hr style="width: 1100px; ">
      <%= f.input :office_phone2 %>
      <hr style="width: 1100px; ">
      <%= f.input :mobile_phone %>
      <hr style="width: 1100px; ">
      <%= f.input :home_phone %>
      <hr style="width: 1100px; ">
      <%= f.input :fax %>
      <hr style="width: 1100px; ">

      <%= f.submit 'Finish', :class => "btn btn-success" %>
<% end %>
    </div>
  </div>
</div>