<%= render 'messages/messages_sidebar' %>
<div class="span9">
      <!--Body content-->
      <div class="hr">
        <img src="/assets/Inbox-icon.png" alt="image" />
        <h2>Read Message</h2>
      </div>
       <div id="app-back-button" style="padding-right: 50px;">
    <a onclick="history.back(); return false;" href="#" id= "bk">
      <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
    </a>
  </div>
    <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 975px; "></hr>
<p>
<strong>From:</strong>
<%= @message.sender == @user ? "You" : "#{@message.sender.first_name} #{@message.sender.last_name}" %>
</p>

<p>
<strong>Received:</strong>
<%= @message.created_at.to_s(:long) %>
</p>
<p>
<strong>To:</strong>
<%= @message.recepient == @user ? "You" : "#{@message.recepient.first_name} #{@message.recepient.last_name}" %>
</p>

<p>
<strong>Message</strong><br />
<%=h @message.body %>
</p>
<p>
<% if @message.recepient == @user %>
<%= link_to "Reply", new_user_message_path(@user, :reply_to => @message.sender.id) %> |
<% end %>
</p>