<%= render 'shared/navbar' %>
<h1><%= @article.body %></h1>

<div class='span5 hero-unit'><center><h3><%= simple_format @article.content %></h3></center></div>
  <br><br><br><br><br><br><div class="span4 container">
  <h2>Comments</h2>

  <div id="comments">
    <%= render @article.comments %>
  </div>

  <h3>New Comment</h3>

  <%= render 'comments/form' %>

</div>