<%= render 'shared/image_navbar' %>
<div class="container-fluid" style="margin-top: 40px">
	<div class="row-fluid">

		<div class="offset1 span11">
			<!--Body content-->
			<div class="hr">
				<img src="/assets/engineer-icon.png" alt="image" />
				<h2>Academic Counselor</h2>
			</div>
			<div id="app-back-button" class="span10">
				<a onclick="history.back(); return false;" href="#" id= "bk">
					<img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
				</a>
			</div>
			<hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 1100px; "></hr>
			
			<div style="width:1100px">
			<table class="table table-bordered table-hover">
				<thead bgcolor="#B7B7B7"><th>Guidance Supervisor</th><th>Guidance Advisor</th><th>Batch</th><th>Student Class</th></thead>
				<tbody>
					<% @supervisor.each do |c| %>
					<% first_row = true %>
					<% c.guidance_advisors.each do |b| %>
					<tr>
						<% if first_row == true %>
						<td> <%= c.employee.full_name if c.employee %> </td>
						<% first_row = false %>
						<% else %>
						<td></td>
						<% end %>
						<td> <%= b.employee.full_name %> </td>
						<td> <%= b.batch.batch_language %> </td>
						<td> <%= b.student_class.name %> </td>
					</tr>
					<% end %>
					<tr bgcolor="#B7B7B7"><td></td><td></td><td></td><td></td></tr>
					
					<% end %>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>