<% render 'shared/navbar' %>
<h2>Edit user</h2>

<%= simple_form_for @user do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :email, :required => true, :autofocus => true %>
      <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <%= f.input :password_confirmation, :required => false %>
      <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
      <% for role in Role.all %>
          <%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role) %>
          <%=h role.name %>
      <% end %>
      <%= hidden_field_tag 'user[role_ids][]', '' %>
    </div>

    <div class="actions">
      <%= f.button :submit, 'Update' %>
    </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to 'Cancel my account',  user_path, :confirm => 'Are you sure?', :method => :delete %>.</p>

<%= link_to 'Back', :back %>
