<%= render 'shared/navbar' %>
<h4>Edit user</h4>
<h5>[*] is a required fields</h5>
<div class="offset3">
<%= simple_form_for(@user , html: { class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :email, disabled: true %>
      <%= f.input :first_name , disabled: true %>
      <%= f.input :last_name , disabled: true %>
      <%= f.input :user_name , required: true ,autofocus: true %>
      <%= f.input :password, :autocomplete => "off",
       :hint => "leave it blank if you don't want to change it", :required => false %>
      <%= f.input :password_confirmation, :required => false %>
      <%= f.input :current_password,
       :hint => "we need your current password to confirm your changes", :required => true %><br>
      <%= f.input :user_type, collection: ['Admin','Employee','Student','Parent'], include_blank: false %>
    </div><br>

    <div class="offset1 actions">
      <button class="btn btn-success" type="submit">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-success" type="submit" onclick="location.href='/users';">Back</button>
    </div>
<% end %>
