<%= render 'users/user_sidebar' %>
<div class="span9">
  <!--Body content-->
  <div class="hr">
    <img src="/assets/Users-icon.png" alt="image" />
    <h3>User Management</h3>
  </div>
  <div id="app-back-button" style="padding-right: 50px;">
    <a onclick="history.back(); return false;" href="#" id= "bk">
      <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
    </a>
  </div>
  <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 975px; "></hr>
  <h4>Users List</h4>
  <div>
  <table class="table table-bordered table-hover">
    <tr>
      <th bgcolor="#B7B7B7">User id</th>
      <th bgcolor="#B7B7B7">Full Name</th>
      <th bgcolor="#B7B7B7">Role</th>
      <th bgcolor="#B7B7B7">Profile</th>

    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.full_name %></td>
      <td><%= user.user_type %></td>
      <td><%= link_to 'View Profile', user_path(user) %></td>
    </tr>
    <% end %>
  </table>
  </div>