 <%= render 'users/profile_sidebar' %>
<div class="span9">
			<!--Side content-->
			<div class="hr">
				<img src="/assets/Users-icon.png" alt="image" />
				<h3><%= @user.full_name.capitalize %>'s Profile</h3>
			</div>
			 <div id="app-back-button" style="padding-right: 50px;">
    <a onclick="history.back(); return false;" href="#" id= "bk">
      <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
    </a>
  </div>
	 <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 975px; "></hr>
			<!-- page content goes here -->
				<ul class="nav pull-right">
				<% if current_user.has_role? :administrator %>
					<%= render 'shared/set_privileges' %>
					<% end %>
					<%= render 'new_message' %>
				</ul>

				<div class="tabbable"> <!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">Overview</a></li>
						<li><a href="#tab2" data-toggle="tab">Profile Info</a></li>
						<li><a href="#tab3" data-toggle="tab">Account</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div class="span2">
								<img src="http://citizenmed.files.wordpress.com/2011/08/user-icon1.jpg"  alt="" class="img-rounded">
							</div>
							<div class="span4">
								<blockquote>
									<p><%= @user.full_name.capitalize %></p>
									<small><cite title="Source Title"><%= @user.user_type %><i class="icon-user"></i></cite></small>
								</blockquote>
								<p>
									<i class="icon-envelope"></i> <%= @user.email %> <br>
								</p>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<div class="span2">
								<img src="/assets/user-icon1.jpg"  alt="" class="img-rounded">
							</div>
							<div class="span4">
								<blockquote>
									<h5>Username: <%= @user.user_name %></h5>
									<hr>
									<h5>First Name: <%= @user.first_name %></h5>
									<hr>
									<h5>Middle Name: <%= @user.employee.middle_name if @user.employee %><%= @user.student.middle_name if @user.student %></h5>
									<hr>
									<h5>Last Name: <%= @user.last_name %></h5>
									<hr>
									<h5>Country:</h5>
									<hr>
									<h5>E-Mail: <%= @user.email %></h5>
									<hr>
									<h5>About</h5>
								</blockquote>
							</div>
						</div>
						<div class="tab-pane" id="tab3">
								<%= simple_form_for(@user , html: { class: 'form-horizontal' }) do |f| %>
								<%= f.error_notification %>

								<div class="inputs">
									<%= f.input :email, disabled: true %>
									<%= f.input :first_name , disabled: true %>
									<%= f.input :last_name , disabled: true %>
									<%= f.input :user_name , required: true ,autofocus: true %>
									<%= f.input :password, :autocomplete => "off",
									:hint => "leave it blank if you don't want to change it", :required => false %>
									<%= f.input :password_confirmation, :required => false %>
									<%= f.input :current_password,
									:hint => "we need your current password to confirm your changes", :required => true %><br>
								</div><br>

								<div class="offset1 actions">
									<button class="btn btn-success" type="submit">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<button class="btn btn-success" type="submit" onclick="location.href='/users';">Back</button>
								</div>
								<% end %>
							</div>
					</div>
				</div>