<%= render 'shared/navbar' %>
<div class="container-fluid">
  <div class="row-fluid">

    <div class="offset1 span11">
      <!--Body content-->
      <div class="hr">
        <img src="/assets/Occupations-Technical-Support-Representative-Male-Light-icon.png" alt="image" />
        <h2>Complaints and Suggestions</h2>
      </div>
      <div id="app-back-button" class="span10">
        <a onclick="history.back(); return false;" href="#" id= "bk">
          <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
        </a>
      </div>
      <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 1100px; "></hr>
      <h4>All Tickets</h4>
      <% if can? :read, Ticket %>
      <div style="width:1100px">
        <%= render 'tickets_overview' %>
        <table class="table table-bordered table-hover" >
          <tr>
            <th>Ticket Serial</th>
            <th>Sender Role</th>
            <th>Assigned Department</th>
            <th>Priority</th>
            <th>Current State</th>
            <th>Assigned State</th>
            <th>Assigned To</th>
          </tr>
          <% @tickets.each do |ticket| %>
          <tr>
            <td><%= link_to ticket.id , ticket %></td>
            <td><%= ticket.user.user_type %></td>
            <td><%= ticket.employee_department.name %></td>
            <td id="state_<%= ticket.state.name.parameterize %>"><%= ticket.state.name %></td>
            <td><%= ticket.ticket_state %></td>
            <td><%= ticket.assign_state %></td>
            <td><%= ticket.employee.full_name if ticket.employee %></td>
          </tr>
          <% end %>
        </table>
        <% end %>
      </div>
    </div>
  </div>