<%= render 'tickets/ticket_sidebar' %>
<div class="span9">
  <!--Body content-->
  <div class="hr">
    <img src="/assets/Occupations-Technical-Support-Representative-Male-Light-icon.png" alt="image" />
    <h3>Academic Support</h3>
  </div>
  <div id="app-back-button" style="padding-right: 50px;">
    <a onclick="history.back(); return false;" href="#" id= "bk">
      <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
    </a>
  </div>
  <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 975px; "></hr>
  <% if params[:ticket] == "activity" %>
    <%= render 'tickets/ticket_activity' %>
  <% elsif params[:ticket] == "staff" %>
    <%= render 'tickets/ticket_staff' %>
  <% elsif params[:ticket] == "tickets" %>
   <%= render 'tickets/all_tickets' %>
  <% elsif params[:ticket] == "new" %>
   <%= render 'tickets/new_ticket_staff' %>
  <% end %>