 <%= render 'batch_counselor_supervisors/counselor_sidebar' %>
<div class="span9">
  <!--Body content-->
  <div class="hr">
    <img src="/assets/Old-Boss-icon.png" alt="image" />
    <h3 class="page-title">Create Supervisor</h3>
  </div>
  <div id="app-back-button" style="padding-right: 50px;">
    <a onclick="history.back(); return false;" href="#" id= "bk">
      <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
    </a>
  </div>
  <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width:  975px;"></hr>
  <div class="portlet box blue">
    <div class="portlet-title">
      <div class="caption"><i class="icon-reorder"></i>Add New Supervisor</div></div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="/counselor_supervisors" class="form-horizontal" method="POST">
          <%= simple_form_for(@supervisor) do |f| %>
              <%= f.error_messages %>
              <%= f.association :employee_department, as: :select %>
              <%= f.input :employee_position_id , collection: @departments, as: :grouped_select, group_method: :employee_positions, prompt: "Select Position" %>

              <%= f.input :employee_id , collection: @positions, as: :grouped_select, group_method: :employees%>

          <div class="form-actions">
            <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
            <button type="button" class="btn">Cancel</button>
          </div>
        </form>
        <% end %>
        <!-- END FORM--> 
      </div>
    </div>