  <%= render 'shared/image_navbar' %>
  <div class="container-fluid" style="margin-top: 40px">
    <div class="row-fluid">

      <div class="offset1 span11">
        <!--Body content-->
        <div class="hr">
          <img src="/assets/korganizer-icon.png" alt="image" />
          <h2>Admission</h2>
        </div>
        <div id="app-back-button" class="span10">
          <a onclick="history.back(); return false;" href="#" id= "bk">
            <img border="0" src="/assets/back-icon.png" alt="Back" id="bak" >
          </a>
        </div>
        <hr style="color: #049cdb; background-color: #049cdb; height: 5px; width: 1100px; "></hr>
        <h4>Step 3 - Previous details</h4>
        <hr style="color: #049cdb; background-color: #049cdb; height: 3px; width: 1100px; "></hr>
        <%= simple_form_for(@previous_detail, :url => student_previous_details_path(@student), method: :post) do |f| %>
        <%= f.error_messages %>

        <%= f.input :student_id, as: :hidden, :input_html => { value: @student.id } %>
        <h4>Previous Educational Details</h4>
        <%= f.input :institution, label: 'Institution Name'%>
        <%= f.input :course, label: 'Course'%>
        <%= f.input :year, :as => :string, :input_html => { class: 'year' }, label: 'Year' %>
        <%= f.input :total_mark, label: 'Total Mark'%>
        <%= f.submit 'Save & Proceed', class: 'btn btn-large btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>