<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Triton</a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li class="active">
            <%= link_to 'Dashboard' , '/user/dashboard' %>
          </li>
        </ul>
        <form class="navbar-search pull-left" style="text-align: center">
          <label>
            <input type="text" class="search-query" placeholder="Search">
          </label>
        </form>
        <ul class="nav pull-right">
          <% if current_user %>
              <div class="btn-group">
                <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> <%= current_user.user_name %></a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-pencil icon-white"></i> Edit</a></li>
                  <li><a href="#"><i class="icon-trash icon-white"></i> Delete</a></li>
                  <li><a href="#"><i class="icon-ban-circle icon-white"></i> Ban</a></li>
                  <li class="divider"></li>
                  <li><a href="/sessions/current" data-method="delete" rel="nofollow"><i class="icon-off icon-white"></i> Logout</a></li>
                </ul>
              </div>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>

<h1>Admission</h1>
<h4>Step 3 - Previous details</h4>

<div class="row-fluid">
  <div class="span5 offset1 hero-unit">
    <%= bootstrap_form_for(@previous_detail, :url => student_previous_details_path(@student),
                           html: { class: 'form-horizontal' }, method: :post) do |f| %>
        <% if @previous_detail.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(@previous_detail.errors.count, 'error') %>
              </div>
              <ul>
                <% @previous_detail.errors.full_messages.each do |msg| %>
                    <li>* <%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <fieldset>
          <div class="field">
            <%= f.hidden_field :student_id, value: @student.id %>

          </div>

          <h4>Previous Educational Details</h4>
          <div class="field">
            <%= f.text_field :institution, label: 'Institution Name'%>
          </div>
          <div class="field">
            <%= f.text_field :course, label: 'Course'%>
          </div>
          <div class="field">
            <%= f.text_field :year , class: 'year', label: 'Year' %>
          </div>
          <div class="field">
            <%= f.text_field :total_mark, label: 'Total Mark'%>
          </div>
          <div class="actions"><%= f.submit 'Save & Proceed', class: 'btn btn-mini btn-primary' %></div>
        </fieldset>
    <% end %>
  </div>
</div>