<%= render 'shared/navbar' %>

<h1>Admission</h1>
<h4>Step 3 - Previous details</h4>

<div class="row-fluid">
  <div class="span5 offset1 hero-unit">
    <%= bootstrap_form_for(@previous_detail, :url => student_previous_details_path(@student),
                           html: { class: 'form-horizontal' }, method: :post) do |f| %>
        <% if @previous_detail.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-error">
                The form contains <%= pluralize(@previous_detail.errors.count, 'error') %>
              </div>
              <ul>
                <% @previous_detail.errors.full_messages.each do |msg| %>
                    <li>* <%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <fieldset>
          <div class="field">
            <%= f.hidden_field :student_id, value: @student.id %>

          </div>

          <h4>Previous Educational Details</h4>
          <div class="field">
            <%= f.text_field :institution, label: 'Institution Name'%>
          </div>
          <div class="field">
            <%= f.text_field :course, label: 'Course'%>
          </div>
          <div class="field">
            <%= f.text_field :year , class: 'year', label: 'Year' %>
          </div>
          <div class="field">
            <%= f.text_field :total_mark, label: 'Total Mark'%>
          </div>
          <div class="actions"><%= f.submit 'Save & Proceed', class: 'btn btn-mini btn-primary' %></div>
        </fieldset>
    <% end %>
  </div>
</div>