<!DOCTYPE html>
<html>
<head>
  <title>Modern Academy</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <style>
    <% for state in @states %>
    #state_<%= state.name.parameterize %> {
      background: <%= state.background %>;
      color: <%= state.color %>;
    }
    <% end %>
  </style>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "/assets/jsapi.js", "chartkick" %>
  <%= javascript_include_tag 'ckeditor/ckeditor' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
  <%= render 'shared/image_navbar' %>
  <% else %>
  <%= render 'shared/root_nav_bar' %>
  <% end %>
  <div class="container-fluid" style="margin-top: 40px;">
    <div class="row-fluid">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
